@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --purple-01: #813CEE;
  --purple-02: #C18FFF;
  --purple-03: #A579EB;
  --purple-04: #E2CCFF;
  --purple-05: #EFE2FB;
  --purple-06: #F6EDFF;
  --purple-07: #8C50EB;
  --purple-08: #7224EC;
  --purple-09: #4404A8;
  --purple-10: #BFA6E7;
  --purple-11: #F6EDFF;
  --yellow-01: #FFF0AC;
  --yellow-02: #FFF6CC;
  --black: #000000;
  --gray-01: #272727;
  --gray-02: #383838;
  --gray-03: #666666;
  --gray-04: #767676;
  --gray-05: #B1B1B1;
  --gray-06: #D3D3D3;
  --gray-07: #E5E5EA;
  --gray-08: #868686;
  --record-color: #D75A56;
  --white: #fff;
  --main-font: 'Pretendard-Regular';

  --header-height: 50px;
  --header-img-width: 45px;
  --nav-height: 60px;

  --regular-font-size: 1.2em;
  --question-font-size: 1.05em;
  --medium-font-size: 0.94em;
  --small-font-size: 0.75em;
  --rank-font-size: 1em;

  --light-weight: 300;
  --regular-weight: 600;
  --bold-weight: 900;
}

.top {
  padding-bottom: 50px;
}

#warning-icon {
  display: none;
}

#warning-message {
  display: none;
  margin-top: 5px;
  color: var(--red);
}

.div-input {
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: row;
  border: none;
  border-bottom: 1px solid #868686;
}

.div-input > input {
  width: 100%;
  border: none;
  outline: none;
  padding-bottom: 1px;
  margin-right: 5px;
}

.div-input > img {
  display: none;
  padding-bottom: 5px;
}

.logo {
  width: 85.45px;
  height: 53px;
}