* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 모바일 크롬, 사파리 등 */
    -webkit-tap-highlight-color: transparent; /* 모바일 크롬, 사파리 등 */
    -webkit-touch-callout: none; /* iOS에서의 터치 콜아웃 제거 */
    user-select: none; /* 텍스트 선택 비활성화 */
}

header {
    padding: 0 1.7em 0 1.7em;
    /* text-align: center; */
}

.container {
    margin: 2em;
}

.search-box {
    position: relative;
    width: 95%;
    height: 65%;
    margin: auto;
    /* background-color: aqua; */
}

header>.search-box>input {
    /* position: relative; */
    width: 85%;
    height: 100%;
    margin: auto;
    padding: 0 40px 0 10px;
    border-radius: 0.3em;
    border: none;
    background-color: var(--purple-11);
}

header>.search-box>#search {
    background: url("../img/icon_search.svg") no-repeat;
    position: absolute;
    right: 10px;
    width: 5%;
    height: 80%;
    top: 3px;
    right: -25px;
    /* background-color: brown; */
}

/* 달 변경 */
.month-change-box {
    z-index: 9999;
    position: fixed;
    top: 34px;
    width: 50%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    padding: 1em 30em;
    font-size: var(--question-font-size);
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    /* background-color: aqua; */
}

#pre-btn {
    position: relative;
    background: url("../img/icon_arrow_left.svg") no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    border: none;
    /* background-color: yellow; */
    top: 50%;
    transform: translateY(-50%);
}

#next-btn {
    position: relative;
    background: url("../img/icon_arrow_right.svg") no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    border: none;
    /* background-color: yellow; */
    top: 50%;
    transform: translateY(-50%);
}

#currentMonth {
    font-size: var(--question-font-size);
    font-weight: var(--bold-weight);
    top: -10px;
    margin: auto;
}

/* 작성한 글 목록 */
.diary-list-box {
    position: relative;
    top: 7vh;
    width: 100%;
    height: 100%;
    margin: 2em 0;
    /* background-color: aqua; */
}

.diary-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--purple-06);
    padding: 1em 1.6em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.diary-box > img {
    position: absolute;
    left: 6px;
    top: 6px;
}

/* 제목, 회사, 날짜 텍스트 */
.text-box {
    position: relative;
    width: 82%;
    /* left: 1%; */
    /* background-color: yellowgreen; */
}

.title {
    display: inline-block;
    width: 95%;
    margin-bottom: 5px;
    font-size: var(--medium-font-size);
    font-weight: var(--regular-weight);
    /* background-color: azure; */
}

hr {
    margin: 0.5em 0;
    width: 96%;
}

.bottom-box {
    display: flex;
    justify-content: space-between;
}

.date,
.company {
    font-size: var(--small-font-size);
    font-weight: var(--light-weight);
    /* 텍스트 중앙 정렬 */
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.company {
    position: relative;
    display: inline-block;
    width: 100px;
    border-radius: 0.3em;
    background-color: var(--purple-03);
    color: white;
}

.date {
    position: relative;
    padding-right: 10px;
    /* background-color: blue; */
}

/* 표정 이미지 */
.img-box {
    position: absolute;
    display: flex;
    height: 100%;
    top: 0;
    right: 20px;
    /* background-color: violet; */
}

.img-box>img {
    position: relative;
    /* display: block; */
    margin: auto;
    width: 40px;
    height: 40px;
    padding: 0.5em;
    border-radius: 100em;
    background-color: var(--purple-01);

}