header>span {
    margin: auto;
    color: white;
}

.container {
    margin: 0;
}

/* 랭킹 헤더 */
.ranking-header-box {
    position: relative;
    width: 100%;
    height: var(--nav-height);
    padding: 0 1em;
    /* background-color: yellow; */
}

.ranking-header-box>img,
.ranking-header-box>span {
    position: absolute;
    width: 5%;
    top: 50%;
    transform: translate(0, -50%);
}
.ranking-header-box>span {
    display: inline-block;
    padding-left: 30px;
    font-size: var(--rank-font-size);
    font-weight: var(--bold-weight);
}

/* ranking */
.ranking-list-box {
    position: relative;
    width: 100%;
    font-weight: bold;
    /* height: 100px; */
}
.rank-box {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.rank-box > .company-info-box {
    position: relative;
    display: flex;
    width: 56vw;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    padding: 0 12vw;
}
.rank-box> .top-box {
    position: relative;
    display: flex;
    width: 20vw;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellowgreen; */
    /* padding: 0 3em; */
}

.rank,
.company-img,
.company-name,
.top3 {
    width: 35px;
    /* background-color: bisque; */
}
.company-img {
    position: relative;
    width: 60px;
    left: 5px;
}
.company-name {
    position: relative;
    width: 200px;
    text-align: center;
    right: -5vw;
}
.top3 {
    position: relative;
    left: 5px;
}